<!DOCTYPE html>
<html>
<head>
	<title>Add Members</title>
</head>
<body>
	<form action = "/see_response/" method = "POST" >
		{%csrf_token%}
		<b>Name</b><input type="text" name="name" placeholder="Enter name"><br><br>
		<b>USN</b><input type="text" name="usn" placeholder="Enter USN"><br><br>
		<b>Phone</b><input type="text" name="phone" placeholder = "Enter Phone No"><br><br>
		<b>Branch</b><input type="text" name="branch" placehoder = "Enter Branch"><br><br>
		<b>Sem</b><input type="integer" name="sem"><br><br>
		<input type="Submit" name="sub_button" value = "Save">
		<input type="Submit" name="sub_button" value = "Save and Add Another">
	</form>

</body>
</html>