<!DOCTYPE html>
<html>
<head>
	<title>Add Images</title>
</head>
<body>
	<h1>Add Photos</h1>
	
	<form action = "/see_response/" method = "POST" enctype="multipart/form-data">
		{%csrf_token%}
		<select name = "ename">
			{%for event in events%}
  		    <option value="{{event.ename}}">{{event.ename}}</option>
			{%endfor%}	
		</select>
		<br><br>
			<b>Add Image</b><input type="file" name="image" ><br><br>
		
		<input type ="submit" name ="btn" value = "Save and Add Another">
		<input type="submit" name="btn" value = "Save"> 
	</form>

</body>
</html>