<!DOCTYPE html>
<html>
<head>
	<title>admin login</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static "CSS/basehome.css" %}">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="
	sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
</head>
<body>
	<form action="" method = "POST">
		{%csrf_token%}
		USN <input type="text" name="usn"><br>
		Password <input type="Password" name="Password"><br>
		Club
		<select name = "cname">
			{%for club in clubs%}
  		    <option value="club.cname">{{club.cname}}</option>
			{%endfor%}
			
		</select>
		<br>

		<input type="submit" value="login">
	</form>

</body>
</html>