{%extends 'admin_page.html'%}
{%block content%}
<div class = row style="margin-top:50px">
	<div class = "col-md-6 offset-md-3">
		<div class = 'container'>
			<div class="card ">
				<div class="card-body">
					<form action = "" method = "POST" enctype="multipart/form-data" id = 'tarea'>
						{%csrf_token%}
						<h3><b>Update club details</b></h3>
						<br>
						<div class ="club-color">
							<div class="form-group">
								<label><b>Club Name</b></label>
								<input type="text" class="form-control" name="cname" value = '{{club.cname}}'>
							</div>
							<div class="form-group">
								<label><b>Motto</b></label>
								<input type="text" class="form-control" name="motto" value = "{{club.motto}}" >
							</div>
							<div class="form-group">
								<label><b>Image</b></label>
								<input  type="file" name="image" value = "{{club.image}}">
							</div>
							<div class="form-group">
								<label><b>About</b></label><br>
								<textarea class="form-control" rows="1" cols="115" name="about" value="{{club.about}}">{{club.about}}
								</textarea>
							</div>
							
							<div class="form-group">
								<label><b>Mission</b></label><br>
								<textarea class="form-control" rows="1" cols="115" name="mission">
								{{club.mission}}</textarea>
							</div>
							<div class="form-group">
								<label><b>Vision</b></label><br>
								<textarea  class="form-control"rows="1" cols="115" name="vision" form=" tarea">
								{{club.vision}}</textarea>
							</div>
							<div class="form-group">
								<label><b>Short description</b></label><br>
								<textarea class="form-control" rows="1" cols="115" name="short" form=" tarea">
								{{club.shortdesc}}</textarea>
							</div>
							<div class="form-group">
								<label><b>Phone</b></label>
								<input  class="form-control" class="form-control" type="text" name="phone"  value = {{club.phone}}>
							</div>
							<div class="form-group">
								<label><b>Email</b></label>
								<input class="form-control"  class="form-control" type="mail" name="mail"  value = {{club.mail}}>
							</div>
						</div>
						<div style="text-align:center;">
							
								<input type="submit" class="btn btn-success btn-lg" name="sub_button" value = "Update" >
						</div>
					</form>
				</div>
				<br>
				<br>
				
				
			</div>
		</div>
	</div>
</div>
{%endblock%}