{% extends 'club_page_base.html'%}
{%block content%}
	
	

<div class="container" style = "padding-top : 2%;">
  		<div class="row justify-content-start">
  			<div class="col-md-12">
	   					    {%for eventname,images in gallery.items%}
	   					     	<div class = "row">
	   					     		<div class = col-sm>
	   					     			<h1 style = "text-llign:center";><b><br>{{eventname}}</b><br><hr><br></h1>
	   					     		</div>
	   					     	</div>
	   					    	<div class = "row">
	   					    			{%for image in images%}
	   					    			<div class = "col-sm"> 
	   					    				<img class="img-thumbnail" src="{{image.images.url}} " alt="No image">
	   					    			</div>
	   					    			{%endfor%}
	   					    			<br><br><br>
	   					    	</div>
	   					    {%endfor%}
			</div>

		</div>
	</div>

{%endblock%}