{%extends 'base.html' %}
{%load static%}
{% block meta %}
<style>
body{
background-image: linear-gradient( 106.5deg,  rgba(255,215,185,0.91) 23%, rgba(223,159,247,0.8) 93% );

 
   
     height: 100%; 
}

</style>
{%endblock%}
	{%block nav%}
	<ul class="navbar-nav mr-auto">
	<li class="nav-item">
				<a class="nav-link" href="{% url 'signin' %}">SignIn</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'signup' %}">SignUp</a>
			</li>
	</ul>

	
	{%endblock%}
	{%block content%}
	<h1 style = "text-align:center;margin-top:200px; font-family: Acme;"> Thinking to join any club in your college🤔? Don't know what are the clubs present in your college 🤷? Not able to maintain your club 😞? Want to create new Club In Your College?  </h1><h2 style = "text-align:center; margin-top:20px;">Here is the solution for all your problems😊</h2>
	<div class = "row">
		<div class = 'col-md-4 offset-md-4'>
							<a style = "width:300px; heigth:400px; background-image: linear-gradient( 109.6deg,  rgba(43,1,91,1) 13.4%, rgba(122,2,54,1) 100.2% );margin-top:20px"class="btn btn-info" href="{% url 'signup' %} "><h4> 🔑SignUp</h4></a>
					
	</div>
	{%endblock%}
	